<html>
<body>
<img src="assets//ecommerce1.jpg" class="imagee">
<div class="form-area" style="font-family: 'Open Sans', sans-serif;">
  <h2>Login</h2>
  <form action="">
    <p>Username</p>
    <input type="text" name="username" id="username" placeholder="Your Username" [(ngModel)]="username">
    <p>Password</p>
    <input type="password" name="password`" id="password" placeholder="Your password" [(ngModel)]="password">
    <button type="button" class="btn btn-primary btn-lg btn-block login-button" (click)="login()">Login</button>
    <a href="#">Forgot Password?
    </a>
    <div>
      <a routerLink="/signup">Don't have an account?
      </a>
    </div>
  </form>
</div>
</body>
</html>
