<!--<html>-->
<!--<body>-->
<!--<div class="container" style="font-family: 'Merienda', cursive;">-->
<!--  <div class="row justify-content-center">-->
<!--    <div class="col-md-8">-->
<!--      <div class="card">-->
<!--        <div class="card-header">Register</div>-->
<!--        <div class="card-body">-->

<!--          <form class="form-horizontal"  action="#" (ngSubmit)="onsubmit()">-->

<!--            <div class="form-group">-->
<!--              <label for="name" class="cols-sm-2 control-label">Your Name</label>-->
<!--              <div class="cols-sm-10">-->
<!--                <div class="input-group">-->
<!--                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>-->
<!--                  <input type="text" class="form-control"  id="name" placeholder="Enter your Name" [(ngModel)]="post1.name" name="Name" required>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--              <label for="email" class="cols-sm-2 control-label">Your Email</label>-->
<!--              <div class="cols-sm-10">-->
<!--                <div class="input-group">-->
<!--                  <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>-->
<!--                  <input type="text" class="form-control"  id="email" placeholder="Enter your Email" [(ngModel)]="post1.email" name="Email" required>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--              <label for="username" class="cols-sm-2 control-label">Username</label>-->
<!--              <div class="cols-sm-10">-->
<!--                <div class="input-group">-->
<!--                  <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>-->
<!--                  <input type="text" class="form-control"  id="username" placeholder="Enter your Username" [(ngModel)]="post1.username" name="User" required>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--              <label for="password" class="cols-sm-2 control-label">Password</label>-->
<!--              <div class="cols-sm-10">-->
<!--                <div class="input-group">-->
<!--                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>-->
<!--                  <input type="password" class="form-control"  id="password" placeholder="Enter your Password"[(ngModel)]="post1.password" name="Pas" required >-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--              <label for="confirm" class="cols-sm-2 control-label">Mobile No.</label>-->
<!--              <div class="cols-sm-10">-->
<!--                <div class="input-group">-->
<!--                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>-->
<!--                  <input type="password" class="form-control"  id="confirm" placeholder="Enter your mobile number" [(ngModel)]="post1.mobile" name="Mob" required >-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="form-group ">-->
<!--              <button type="button" class="btn btn-primary btn-lg btn-block login-button" routerLink="/homepage">Register</button>-->
<!--            </div>-->
<!--          </form>-->
<!--        </div>-->

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
<html>
<body>
<img src="assets//ecommerce1.jpg" class="imagee">
<div class="form-area" style="font-family: 'Open Sans', sans-serif;">
  <h2>SignUp</h2>
  <form action="">
    <p>Your Name</p>
    <input type="text" name="name" id="name" placeholder="Enter your name here">
    <p>Your Email</p>
    <input type="text" name="email" id="email" placeholder="Enter your email here">
    <p>Your Username</p>
    <input type="text" name="username" id="username" placeholder="Enter your username here" required [(ngModel)]="username">
    <p>Password</p>
    <input type="password" name="password" id="password" placeholder="Enter your password" required [(ngModel)]="password">
    <p>Your Phone Number </p>
    <input type="text" name="mobile" id="mobile" placeholder="Enter your contact number here">
<!--    <button type="button" class="btn btn-primary btn-lg btn-block login-button"  routerLink="/homepage" >Register</button>-->
    <button type="button" class="btn btn-primary btn-lg btn-block login-button"  routerLink="/homepage" (click)="goTosignUp()">Register</button>
  </form>
</div>
</body>
</html>

