<html>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="font-family: 'Open Sans', sans-serif;">
  <h2 > ShoppingBee</h2>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <div class="input-group mb-3 stylingg" style="width:400px;">
    <input type="text" class="form-control" placeholder="What you're looking for?" aria-label="Recipient's username" aria-describedby="basic-addon2">
  </div>
  <div class="input-group-append">
    <button type="button" class="btn btn-secondary" style="margin-top:-10px;">Search</button>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/homepage">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="logout()">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/signup">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="#" routerLink="/cart">Cart</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<!--<button routerLink="/orderhistory">order history</button>-->
<!--<div *ngIf="myp">-->
<!--  <h4>Full name</h4>-->
<!--&lt;!&ndash;<p>{{myp.username}}</p>&ndash;&gt;-->
<!--&lt;!&ndash;  <h4>phone number</h4>&ndash;&gt;-->
<!--&lt;!&ndash;  <p>{{myp.phone}}</p>&ndash;&gt;-->
<!--&lt;!&ndash;  <h4>email</h4>&ndash;&gt;-->
<!--&lt;!&ndash;  <p>{{myp.email}}</p>&ndash;&gt;-->
<!--  <input type="text" value="{{myp.username}}" class="pl-2 p-1" [(ngModel)]="myp.username">-->
<!--  <h4>Phone:</h4>-->
<!--  <input type="text" value="{{myp.phone}}" class="pl-2 p-1" [(ngModel)]="myp.phone">-->
<!--  <h4>Email:</h4>-->
<!--  <input type="text" value="{{myp.email}}" class="pl-2 p-1" [(ngModel)]="myp.email">-->
<!--  <br>-->
<!--  <button (click)="edit()" >edit</button>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->



<div class="row mx-0">
  <div class="col-sm-12 p-3">
    <div class="card p-3" *ngIf="myp">
      <div>
        <div class="d-flex justify-content-center">
          <img src="assets//person.png" class="rouded-circle img-thumbnail"  width="100" height="150" alt="Profile Picture" style="border-radius:100px;margin-left: 1px;">
        </div>
        <h4><i class="material-icons">
          person
        </i>
          <input type="text" value="{{myp.username}}"  [(ngModel)]="myp.username"> </h4>
        <!-- <h4 class="text-center">Sneha Mehta</h4> -->

        <hr>
        <div class="d-flex align-items-center mb-1">
          <i class="material-icons pr-3">phone</i>
          <input type="text" value="{{myp.phone}}" class="pl-2 p-1" [(ngModel)]="myp.phone" >
        </div>
        <div class="d-flex align-items-center mb-1">
          <i class="material-icons pr-3">email</i>
          <input type="text" value="{{myp.email}}" class="pl-2 p-1" [(ngModel)]="myp.email" >
        </div>

        <div class="d-flex align-items-center mb-1">

          <button  type="button" class="btn btn-primary btn-md" routerLink="/orderhistory" >Order History</button>
        </div>
      </div>
      <hr>
      <button  type="button" class="btn btn-primary btn-md" (click)="edit()"  >Edit</button>

    </div>
  </div>

</div>
</body>
</html>
