.bor
{
  height:390px;
  width:170px;
}
.stylingg
{
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.styling
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:200px;
  width:160px;
}
ptr
{
  cursor:pointer;
}
//back
//{
//  background-image: url("assets\\back.jpg");
//}
//.carousel-item {
//  height: 100vh;
//  min-height: 350px;
//  background: no-repeat center center scroll;
//  -webkit-background-size: cover;
//  -moz-background-size: cover;
//  -o-background-size: cover;
//  background-size: cover;
//}
